body {
    background-color: yellow;
  }

  /* body {
    color: navy; 
    margin-left: 200px;
    text-align: left;
 }*/
  
  h2 {
    /* color: navy; */
    margin-left: 200px;  
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
  } 

  h4 {
    /* color: navy; */
    margin-left: 200px;  
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
  } 

  p{
    margin-left: 200px;
    text-align: left;
  }

  li
  {
    margin-left: 200px;
    text-align: left;
  }

  img{
    border-radius: 25%
  }
		.body { 
			padding: 0; 
			margin: 0; 
		} 

		.Parent { 
			display: flex; 
			flex-direction: row; 
		} 

		.child1 { 
			width: 30%; 
			height: 100vh; 
			background-color: green; 
			text-align: right; 
			color: white; 
		} 

		.child2 { 
			width: 70%; 
			color: green; 
			height: 100vh; 
            text-align: left;
                    
		} 
